<div class="form-container panel panel-default clearfix">
  <div class="panel-heading">Sign up</div>
  <div class="panel-body left">
    <div class="form-title">Using your email</div>
    <%= form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
      <%= f.email_field :email, autofocus: true, :placeholder => "Email address", :class => "form-control" %>
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password confirmation", :class => "form-control" %>
      <div><%= f.submit "Sign up", :class => "btn btn-danger btn-default btn-signup" %></div>
    <% end %>
  </div>
  <div class="panel-body right">
    <div class="form-title">Use other accounts</div>
    <div class="form-text">You can also sign up using your Facebook, Google or Twitter</div>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-default" %>
    <%= link_to "Sign in with LinkedIn", user_omniauth_authorize_path(:linkedin), class: "btn btn-primary btn-info" %>
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-success" %>
  </div>
  <div class="panel-body signup-footer">
    Already have an account?
    <%= render "devise/shared/links" %>
  </div>
</div>
