<div class="container-fluid">

  <div class="row">

    <div class = "col-md-8 col-md-offset-2">
  
      <div class="panel panel-default">
      
        <div class="panel-heading">
          <h2 class="panel-title">Sign up to Chartist</h2>
        </div>
    
        <div class ="panel-body">
          <div class = "row">
    
            <div class="column-border col-md-6 ">
              <h4>Create account</h4>
              <%= form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
                <%= f.text_field :username, autofocus: true, :placeholder => "Username", :class => "form-control" %><br>
                <%= f.email_field :email, autofocus: true, :placeholder => "Email address", :class => "form-control" %><br>
                <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password confirmation", :class => "form-control" %><br>
                <%= f.submit "Sign up", :class => "btn btn-default" %>
              <% end %>
            </div>
      
            <div class="col-md-6">
              <p>..Or save time by signing up with your Facebook, LinkedIn or Google account.</p>
              <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-block btn-social btn-facebook" do %>
                <i class="fa fa-facebook"></i> Sign up with Facebook
              <% end %>
              <%= link_to user_omniauth_authorize_path(:linkedin), :class => "btn btn-block btn-social btn-linkedin" do %>
                <i class="fa fa-linkedin"></i> Sign up with LinkedIn
              <% end %>
              <%= link_to user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-block btn-social btn-google-plus" do %>
                <i class="fa fa-google-plus"></i> Sign up with Google
              <% end %>
            </div>
          </div>
    
          <div class ="row">
            <div class="panel-body form-footer">
              Already have an account?
              <%= link_to "Sign in", new_session_path(:user) %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
