<div class="form-container panel panel-default clearfix">
  <div class="panel-heading">Forgot your password?</div>
  <div class="panel-body left">
    <div class="form-title">Reset password using your email</div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %> 
      <div><%= f.email_field :email, autofocus: true, :placeholder => "Email address", :class => "form-control" %></div>
      <div><%= f.submit "Reset Password", :class => "btn btn-primary btn-default btn-signup" %></div>
    <% end %>
  </div>

  <div class="panel-body right">
    <div class="form-title">Join Chartist</div>
    <%= link_to new_session_path(:user), :class => 'btn btn-block btn-social btn-github' do %>
      <i class="fa fa-envelope-o"></i> Sign in with your Email
    <% end %>
    <%= link_to new_registration_path(:user), :class=> 'btn btn-block btn-social btn-flickr' do %>
      <i class="fa fa-bar-chart-o"></i> Sign up with Chartist
    <% end %>
  </div>
  <div class="panel-body reset-password-footer"></div>
</div>
  
    