<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Forgot your password?</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 column-border">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %> 
                <%= f.email_field :email, autofocus: true, :placeholder => "Email address", :class => "form-control" %>
                <div><%= f.submit "Reset Password", :class => "btn btn-primary btn-default btn-signin" %></div>
                <% end %>
              </div>
              <div class="col-md-6">
              <div class="form-title">Join Chartist</div>
                <%= link_to new_session_path(:user), :class => 'btn btn-block btn-social btn-github' do %>
                  <i class="fa fa-envelope-o"></i> Sign in with your Email
                <% end %>
                <%= link_to new_registration_path(:user), :class=> 'btn btn-block btn-social btn-flickr' do %>
                  <i class="fa fa-bar-chart-o"></i> Sign up with Chartist
                <% end %>
                <%- if controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(:user) %><br />
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>    