 
  <script src="assets/jquery.scrollTo-1.4.3.1.min.js"></script>
  <script src="assets/jquery.scrollorama.js"></script>
  <script src="assets/jquery.easing.1.3.js"></script>
  <script src="assets/jquery.scrolldeck.js"></script>

  <script type="text/javascript">
$(document).ready(function() {
  var deck = new $.scrolldeck({
    buttons: '.nav-button',
    slides: '.slide',
    duration: 600,
    easing: 'easeInOutExpo',
  offset: 0
  });
});
</script>

<div class="wrapper">
  <div class="homepage-header slide">
      <%= image_tag "homepage/logo_home.png" %>
      <div class="header-text">Chartist is an app that allows people quickly visualize and share simple data.</div>
      <a href="#hpsignup" class="nav-button btn btn-danger">Start creating</div></a>
  </div>

  <div class="homepage-info slide">
  <div class="container-fluid">
    <div class="home-info-header">What can I do with this awesome website?</div>
    <div class="row">
      <div class="col-md-4">
         <%= image_tag "homepage/icons.png" %>
         <div class="info-title">Upload</div>
         <div class="info-text">Sed fringilla mi vel sem luctus pellentesque. Vestibulum vehicula nulla eget arcu sagittis, nec semper diam placerat.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/icons.png" %>
         <div class="info-title">Create</div>
         <div class="info-text">Sed fringilla mi vel sem luctus pellentesque. Vestibulum vehicula nulla eget arcu sagittis, nec semper diam placerat.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/icons.png" %>
         <div class="info-title">Share</div>
         <div class="info-text">Sed fringilla mi vel sem luctus pellentesque. Vestibulum vehicula nulla eget arcu sagittis, nec semper diam placerat.</div>
      </div>
    </div>
  </div>
  </div>

  <div class="homepage-forms slide" id="hpsignup">
    <%= render :file => "devise/registrations/new" %>
  </div>

  <div class="homepage-footer slide">
    Made by the <b>Chartist Team</b> at <a href="http://www.makersacademy.com" target="_blank">Makers Academy</a> &copy; 2014 All Rights Reserved.
    <br>
    Follow us on 
    <a href="https://twitter.com/ChartistChat" target="_blank"><i class="fa fa-twitter"></i> twitter</a>, 
    <a href="http://chartistchat.tumblr.com/" target="_blank"><i class="fa fa-rss"></i> blog</a>,
    <a href="https://github.com/chartist/chartist" target="_blank"><i class="fa fa-github"></i> github</a>.
  </div>

</div>