<div class="wrapper">
  <div class="homepage-header">
    <%= image_tag "homepage/logo_home.png" %>
    <div class="header-text">Chartist is an app that allows people quickly visualize and share simple data.</div>
    <div class="btn btn-danger">Start making a new chart</div>
  </div>

  <div class="homepage-info">
  <div class="container-fluid">
    <div class="home-info-header">What can I do with this awesome website?</div>
    <div class="row">
      <div class="col-md-4">
         <%= image_tag "homepage/icons.png" %>
         <div class="info-title">What a cool site</div>
         <div class="info-text">Sed fringilla mi vel sem luctus pellentesque. Vestibulum vehicula nulla eget arcu sagittis, nec semper diam placerat.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/icons.png" %>
         <div class="info-title">Keep track of stuff</div>
         <div class="info-text">Sed fringilla mi vel sem luctus pellentesque. Vestibulum vehicula nulla eget arcu sagittis, nec semper diam placerat.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/icons.png" %>
         <div class="info-title">Much share, wow</div>
         <div class="info-text">Sed fringilla mi vel sem luctus pellentesque. Vestibulum vehicula nulla eget arcu sagittis, nec semper diam placerat.</div>
      </div>
    </div>
  </div>
  </div>

  <div class="homepage-forms">
    <%= render :file => "devise/registrations/new" %>
  </div>

  <div class="homepage-footer">
    Made by the <b>Chartist Team</b> at <a href="http://www.makersacademy.com" target="_blank">Makers Academy</a> &copy; 2014 All Rights Reserved.
    <br>
    Follow us on 
    <a href="https://twitter.com/ChartistChat" target="_blank"><i class="fa fa-twitter"></i> twitter</a>, 
    <a href="http://chartistchat.tumblr.com/" target="_blank"><i class="fa fa-rss"></i> blog</a>,
    <a href="https://github.com/chartist/chartist" target="_blank"><i class="fa fa-github"></i> github</a>.
  </div>

</div>