<!-- multistep form -->
<%= javascript_tag "var dashboards = #{current_user.dashboards.map(&:title).to_json}" %>
<%= form_for @chart, class: "form-vertical", html: { multipart: true, id: 'msform', role: "form"} do |f| %>
  <!-- progressbar -->
  <ul id="progressbar" class="center-block">
    <li class="active">Add Data</li>
    <li>Choose Chart</li>
    <li>Choose Colour</li>
    <li>Create a Board</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Add data</h2>
    <h5>Upload a file (.csv, .xls, .xlsx) or enter data by hand</h5>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-left">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
              Upload File
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                  Browse
                  <%= f.file_field :csv %>
                </span>
              </span>
              <div class="form-control filename"></div>
            </div>
            <p><%= link_to "Click here ", "https://docs.google.com/spreadsheets/d/1XaLyEsF7gPUQT5CmiUYlFzVnTj4sVYbG1VfYcY5mIEE/edit?usp=sharing" %>
              to see a template file with the format we are expecting.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-left">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Enter Data
          </a>
        </h3>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body data">
          <div id="example" class="handsontable"></div>
            <button id='download' type="button" class="btn btn-default btn-data">Upload</button>
          </div>
        </div>
      </div>  
      <input type="button" name="next" id="first-next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Choose a chart type</h2>
      <div class="form-group">
        <label class="form-charts">
          <%= f.radio_button :chart_type, :pie_chart %>
          <%= image_tag("charts/piechart.png", class: "image-col-2") %>
        </label>
        <label class="form-charts">
          <%= f.radio_button :chart_type, :line_chart %>
          <%= image_tag("charts/linechart.png", class: "image-col-2") %>
        </label>
        <label class="form-charts">
          <%= f.radio_button :chart_type, :col_chart %>
          <%= image_tag("charts/columnchart.png", class: "image-col-2") %>
        </label>
        <label class="form-charts">
          <%= f.radio_button :chart_type, :bar_chart %>
          <%= image_tag("charts/barchart.png", class: "image-col-2") %>
        </label>
      </div>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Choose a colour scheme</h2>
        <div class ="form-group">
          <label class="charts-theme">
            <%= f.radio_button :colorscheme, :spring %>
            <%= image_tag("charts/spring.png", class: "image-col-2") %>
          </label>
          <label class="charts-theme">
            <%= f.radio_button :colorscheme, :summer %>
            <%= image_tag("charts/summer.png", class: "image-col-2") %>
          </label>
          <label class="charts-theme">
            <%= f.radio_button :colorscheme, :autumn %>
            <%= image_tag("charts/autumn.png", class: "image-col-2") %>
          </label>
          <label class="charts-theme">
            <%= f.radio_button :colorscheme, :winter %>
            <%= image_tag("charts/winter.png", class: "image-col-2") %>
          </label>
        </div>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
        <h2 class="fs-title">Create a dashboard</h2>
        <div class="panel panel-default">
          <div class="panel-heading clearfix">         
            <%= f.label :name, "Add a title", class: "panel-title pull-left" %> 
          </div>
          <div class="panel-body">
            <%= f.text_field :name, :autofocus => true, :placeholder => "e.g. My New Awesome Chart", class: "form-control" %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading clearfix"> 
            <%= f.label :description, "Write a sentence about your chart", class: "panel-title pull-left" %>
          </div>
          <div class="panel-body">
            <%= f.text_field :description, :placeholder => "e.g. Some information about awesome data", class: 'form-control' %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading clearfix"> 
            <%= f.label :dashboard_titles, "Add your chart to a dashboard", class: "panel-title pull-left" %>
          </div>
          <div class="panel-body">
            <%= f.text_field :dashboard_titles, :placeholder => "e.g. Awesome Charts 2013/2014", class: 'form-control dashboards' %>
          </div>
        </div>
        <div>
         <%= f.hidden_field :table_data, value: "xxxx", class: "hidden-field" %>
        </div>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <%= f.submit "Create", class: "action-button" %>
    </fieldset>
  <% end %>

