<!-- multistep form -->
<%= javascript_tag "var dashboards = #{current_user.dashboards.map(&:title).to_json}" %>
<%= form_for @chart, class: "form-vertical", html: { multipart: true, id: 'msform', role: "form"} do |f| %>
  <!-- progressbar -->
  <ul id="progressbar" class="center-block">
    <li class="active">Start Creating</li>
    <li>Choose Design</li>
    <li>Choose Colour</li>
    <li>Pick a board</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Import Sources</h2>
    <h5>There are three different options for uploading your data.</h5>
    <h5>Please choose one that works best for you.</h5>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
              Upload File
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                  Browse
                  <%= f.file_field :csv %>
                </span>
              </span>
              <input type="text" class="form-control filename">
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Enter Data
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div id="example" class="handsontable"></div>
            <button id='download' type="button" class="btn btn-primary">Ready</button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Link to Google Spreadsheet
            </a>
          </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Upload Button
          </div>
        </div>
      </div>
    </div>
    <input type="button" name="next" id="first-next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Choose a chart type</h2>
    <div class="form-group">
      <label class="form-charts">
        <%= f.radio_button :chart_type, :pie_chart %>
        <%= image_tag("charts/piechart.png", class: "image-col-2") %>
      </label>
      <label class="form-charts">
        <%= f.radio_button :chart_type, :line_chart %>
        <%= image_tag("charts/linechart.png", class: "image-col-2") %>
      </label>
      <label class="form-charts">
        <%= f.radio_button :chart_type, :col_chart %>
        <%= image_tag("charts/columnchart.png", class: "image-col-2") %>
      </label>
      <label class="form-charts">
        <%= f.radio_button :chart_type, :bar_chart %>
        <%= image_tag("charts/barchart.png", class: "image-col-2") %>
      </label>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">What colour are you feeling today?</h2>
    <div class ="form-group">
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :spring %>
        <%= image_tag("charts/spring.png", class: "image-col-2") %>
      </label>
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :summer %>
        <%= image_tag("charts/summer.png", class: "image-col-2") %>
      </label>
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :autumn %>
        <%= image_tag("charts/autumn.png", class: "image-col-2") %>
      </label>
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :winter %>
        <%= image_tag("charts/winter.png", class: "image-col-2") %>
      </label>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Add a Title" %>
      <%= f.text_field :name, :autofocus => true, :placeholder => "My New Awesome Chart", class: "form-control" %>
      <br>
      <%= f.label :description, 'Add a description' %>
      <%= f.text_area :description, class: 'form-control' %>
      <br>
      <br>
      <%= f.label :dashboard_titles, "Create New Board" %>
      <%= f.text_field :dashboard_titles, class: 'form-control dashboards' %>
      <br />
      <%= f.hidden_field :table_data, value: "xxxx", class: "hidden-field" %>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <%= f.submit "Create", class: "action-button" %>
    </div>
  </fieldset>
<% end %>
