<!-- To be taken off -->
<!-- multistep form -->
<%= javascript_tag "var dashboards = #{current_user.dashboards.map(&:title).to_json}" %>
<%= form_for @chart, html: { multipart: true, id: 'msform' } do |f| %>
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Start Creating</li>
    <li>Choose Design</li>
    <li>Choose Colour</li>
    <li>Pick a board</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Import Sources</h2>
    <%= f.file_field :csv %>
    <div class="form-group">

      <div id="example" class="handsontable"></div><br>
      <a href='#' id='download'>Download</a><br>
      <input type="button" name="next" class="next action-button" value="Next" />
    </div>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">What chart are you feeling today?</h2>
    <div class="form-group">
      <label class="form-charts">
      <%= f.label :name, 'Add a title' %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :description, 'Add a description' %>
      <%= f.text_field :description %>
      <br>
      <%= f.label :dashboard_titles, 'Create Dashboard' %>
      <%= f.text_field :dashboard_titles %>
      <br>
      <%= f.file_field :csv %>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Choose a chart type</h2>
      <div class="form-group">

        <%= f.radio_button :chart_type, :pie_chart %>
        <%= image_tag("charts/piechart.png") %>
      </label>
      <label class="form-charts">
        <%= f.radio_button :chart_type, :line_chart %>
        <%= image_tag("charts/linechart.png", class: "image-col-2") %>
      </label>
      <label class="form-charts">
        <%= f.radio_button :chart_type, :col_chart %>
        <%= image_tag("charts/columnchart.png") %>
      </label>
      <label class="form-charts">
        <%= f.radio_button :chart_type, :bar_chart %>
        <%= image_tag("charts/barchart.png", class: "image-col-2") %>
      </label>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">What colour are you feeling today?</h2>
    <div class ="form-group">
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :spring %>
        <%= image_tag("charts/spring.png") %>
      </label>
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :summer %>
        <%= image_tag("charts/summer.png", class: "image-col-2") %>
      </label>
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :autumn %>
        <%= image_tag("charts/autumn.png") %>
      </label>
      <label class="charts-theme">
        <%= f.radio_button :colorscheme, :winter %>
        <%= image_tag("charts/winter.png", class: "image-col-2") %>
      </label>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <div class ="panel-heading"><%= f.label :name, "Add a Title" %>
      <%= f.text_field :name, :autofocus => true, :placeholder => "My New Awesome Chart" %>
    </div>
    <br>
    <strong>Pick a Board</strong>
    <br />
    <br>
    <%= f.label :dashboard_titles, "Create New Board" %>
    <%= f.text_field :dashboard_titles, class: 'dashboards' %>
    <br />
    <%= f.hidden_field :table_data, value: "xxxx", class: "hidden-field" %>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <%= f.submit "Create", class: "action-button" %>
  </fieldset>
<% end %>
