<div class="chart_container">
	<h3><%= @chart.name %></h3>
 	<% if @chart.pie_chart? %>
  		<%= pie_chart chart_path(@chart, format: :json), id: "pie_chart_#{@chart.id}" %>
 	<% elsif @chart.col_chart? %>
  		<%= column_chart chart_path(@chart, format: :json), id: "col_chart_#{@chart.id}" %>
  	<% elsif @chart.bar_chart? %>
  		<%= bar_chart chart_path(@chart, format: :json), id: "bar_chart_#{@chart.id}" %>
  	<% elsif @chart.line_chart? %>
  		<%= line_chart chart_path(@chart, format: :json), id: "line_chart_#{@chart.id}" %>
 	<% end %>
</div>

