<div class="container-fluid fake">
  <div class="row">
    <div class = "col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sign in
        </div>
        <div class ="panel-body">
          <div class = "row">
            <div class="col-md-6 column-border">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.email_field :email, autofocus: true, :placeholder => "Email address", autocomplete: "off", :class => "form-control" %><br>
                <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %><br>
                <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, :class => "form-rememberme" %><br>
                <% end %>
                <%= f.submit "Sign in", :class => "btn btn-default btn-signin" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="form-title">Sign in with Facebook, LinkedIn or Google.</div>
              <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-block btn-social btn-facebook" do %>
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
              <% end %>
              <%= link_to user_omniauth_authorize_path(:linkedin), :class => "btn btn-block btn-social btn-linkedin" do %>
                <i class="fa fa-linkedin"></i>
                Sign in with LinkedIn
              <% end %>
              <%= link_to user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-block btn-social btn-google-plus" do %>
                <i class="fa fa-google-plus"></i>
                Sign in with Google
              <% end %>
            </div>
          </div>
          <div class ="row">
            <div class="panel-body form-footer">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
