<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" ng-app>
  <head>
    <title>Chartist</title>
    <%= javascript_include_tag "http://canvg.googlecode.com/svn/trunk/rgbcolor.js" %>
    <%= javascript_include_tag "http://canvg.googlecode.com/svn/trunk/canvg.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "http://handsontable.com/dist/jquery.handsontable.full.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "http://handsontable.com/dist/jquery.handsontable.full.js" %>
    <%= javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5360c28d7bd608ba" %>
    <%= csrf_meta_tags %>
    <meta name='img' property="og:image" content="<%= image_url('navbar/chartist_avatar.png') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag "favicon/favicon.ico" %>
  </head>
  <body>
    <%= render :partial => "layouts/navbar" %>
    <div class="container main-container">
      <%= render "layouts/messages" %>
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>
