<!DOCTYPE html>
<html>
  <head>
    <title>Chartist</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    <meta property="og:image" content="<%= image_url('navbar/chartist_avatar.png') %>" />
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render :partial => "layouts/navbar" %>
    
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
